@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  background-image: url(../img/body-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
/* general styles */
.title {
  font-family: "Lobster", cursive;
  font-style: normal;
  font-weight: normal;
  /* font-size: 60px; */
  font-size: 3.125vw;
  line-height: 109%;
  color: #eabf3c;
  display: inline-block;
  position: relative;
}
.para {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #f2f2f2;
}
.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding: 18px 47px;
  background-color: #f2c94c;
  border-radius: 30px;
  display: inline-block;
  border: none;
}
.button:hover {
  text-decoration: none;
  background-color: #160e0c;
  color: #ffffff;
}
/* header */
header {
  background-image: url(../img/hero-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  /* padding-top: 140px; */
  padding-top: 7.29169vw;
}
.header .title {
  /* font-size: 80px; */
  font-size: 4.2vw;
}
.header .para {
  font-size: 1.3vw;
  margin-top: 1vh;
  margin-bottom: 2.3vh;
}
.header .button {
  font-weight: normal;
}
/* cater */
.cater {
  padding-top: 130px;
}
.caterTitle::before {
  content: " ";
  position: absolute;
  top: -115%;
  left: calc(50% - 56px);
  background-image: url(../img/caterTitle.png);
  width: 112px;
  height: 78px;
}
.caterList {
  margin-top: 50px;
  display: flex;
  align-self: center;
  justify-content: space-around;
}
.caterItem {
  width: calc(100% / 4 - 185px);
  padding: 20px;
  border-radius: 24px;
  color: #ffffff;
  transition: all 0.5s ease;
}
.caterItem:last-child {
  width: calc(100% / 4 - 104px);
}
.caterItemTitle {
  font-family: "Lobster", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 109%;
  margin-bottom: 13px;
  margin-top: 22px;
}
.caterItemPara {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0;
}
.caterItem:hover {
  background: #eabf3c;
  color: #333333;
}
/* craft */
.craft {
  margin-top: 180px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.craft .title {
  color: #ffffff;
}
.craft .para {
  margin-top: 17px;
  margin-bottom: 80px;
}
.craftText .button {
  padding: 18px;
  background: #eabf3c;
}
.craftText .button:hover {
  text-decoration: none;
  background-color: #160e0c;
  color: #ffffff;
}
.craftImgs {
  display: flex;
  justify-content: flex-end;
}
.craftText {
  width: calc(50% - 100px);
}
.craftImg:first-child {
  margin-right: 18px;
}
/* crayfish */
.crayfish {
  padding-top: 150px;
}
.crayfishTitle::before {
  content: " ";
  position: absolute;
  top: -60%;
  left: calc(50% - 32px);
  background-image: url(../img/crayfishTitle.png);
  width: 64px;
  height: 44px;
}
.crayList {
  margin-top: 50px;
  margin-bottom: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.crayItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.crayGrams {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 18px;
  padding: 12px 19px;
  background-color: #eb5757;
  border-radius: 30px;
  margin-bottom: 12px;
  position: relative;
}
.crayGrams::after {
  content: " ";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 18px solid #eb5757;
  position: absolute;
  bottom: -8px;
  left: 43%;
}
.crayImg {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 24px;
  margin-bottom: 20px;
  width: 100%;
}
.craySize,
.crayWeight {
  font-family: "Lobster", cursive;
  font-size: 25px;
  line-height: 31px;
}
/* coooking */
.cooking {
  padding: 30px 150px;
  background-color: #eabf3c;
  border-radius: 24px;
  width: 1025px;
  width: 61.0125%;
  margin: 0 auto;
}
.cooking:hover {
  box-shadow: 0 0 20px #eabf3c;
}
.cooking .title {
  color: #333333;
  margin-bottom: 17px;
}
.cooking .para {
  color: #333333;
  margin-bottom: 7px;
}
/* recipes */
.recipes {
  margin-top: 180px;
  text-align: left;
}
.recipes .container {
  display: flex;
  justify-content: space-between;
}
.recipeLeft {
  width: 35%;
}
.recipeLeft img {
  width: 100%;
}
.recipeRight {
  width: 60%;
}
.recipes .para {
  margin: 25px 0;
  padding-right: 80px;
}
.recipeList {
  margin-top: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recipeItem {
  position: relative;
  width: calc(100% / 4 - 5px);
}
.recipeItem img {
  width: 100%;
}
.recipeItem .title {
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: calc(50% - 37px);
  display: inherit;
}
.recipeItem .recipe3 {
  top: calc(50% - 55.5px);
  padding: 0 5px;
}
/* calculation */
.calculation {
  margin-top: 180px;
}
.calculation .title {
  color: #f2f2f2;
  margin-bottom: 25px;
}
.params {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 40px;
}
.paramItem {
  text-align: left;
  font-family: "Roboto", sans-serif;
  width: calc(100% / 7 - 40px);
}
.label {
  font-size: 16px;
  line-height: 19px;
  color: #f2c94c;
  margin-bottom: 8px;
}
.input {
  color: #f2f2f2;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  padding: 15px 28px;
  border-radius: 30px;
  box-sizing: border-box;
  border: 1px solid #f2f2f2;
  background-color: transparent;
}
.input::placeholder {
  color: #f2f2f2;
}
.input:focus {
  border: 1px solid #eabf3c;
  outline: none;
}
.userInfo {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 40px;
}
.userName {
  margin-right: 55px;
}
.userName,
.userPhone {
  width: 321px;
}
/* discount */
.discount {
  margin-top: 190px;
  margin-bottom: 160px;
}
.discountBanner {
  width: 1284px;
  width: 76.429%;
  height: 454px;
  background-image: url(../img/discountBanner.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 38px 160px;
}
.discount .para {
  margin-top: 25px;
  margin-bottom: 30px;
  display: block;
}
/* footer */
.footer {
  padding-bottom: 90px;
}
.footer .title {
  color: #f2f2f2;
  margin-bottom: 20px;
}
.contact .para:first-child {
  margin-right: 30px;
}
.contact .para:hover {
  text-decoration: none;
  color: #eabf3c;
}

/* responsive */
@media (max-width: 1920px) {
  .container {
    max-width: 87.5%;
    padding: 0;
  }
}
@media (max-width: 1883px) {
  .title {
    font-size: 58.84px;
  }
  .header .title {
    font-size: 79px;
  }
  .header .para {
    font-size: 24.47px;
    margin-top: 5.22px;
    margin-bottom: 12px;
  }
  .craftImgs {
    width: 55%;
    text-align: right;
  }
  .recipeList {
    margin-top: 35px;
  }
  .recipeText {
    margin-bottom: 40px;
  }
  .caterItem:last-child {
    width: calc(100% / 4 - 80px);
  }
}

@media (max-width: 1680px) {
  .craftImgs {
    width: 60%;
    text-align: right;
  }
  .recipeGalTitle {
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .recipe3 {
    top: calc(50% - 37px);
  }
  .recipes .para {
    margin: 15px 0;
  }
  .recipeItem .title {
    font-size: 24px;
    line-height: 37px;
  }
  .para {
    font-size: 19px;
  }
}
@media (max-width: 1440px) {
  .caterTitle::before {
    top: -78px;
  }
  .caterItem {
    width: calc(100% / 4 - 60px);
  }
  .caterItem:last-child {
    width: calc(100% / 4 - -1px);
  }
  .crayItem {
    width: 15%;
  }
  .recipeList {
    margin-top: 40px;
  }
  .recipeItem .title {
    font-size: 20px;
  }
  .caterItem img {
    width: 78.27px;
  }
  .craftImg:first-child {
    width: 35%;
  }
  .craftImg:last-child {
    width: 55%;
  }
  .title {
    font-size: 40px;
  }
  .craftText {
    width: calc(50% - 50px);
  }
  .craft .para {
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .crayfishTitle::before {
    top: -80%;
  }
  .recipeLeft {
    width: 40%;
  }
  .recipeRight {
    width: 55%;
  }
  .discount .para {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .discountBanner {
    height: auto;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 90%;
  }
  .para {
    font-size: 16px;
    line-height: 25px;
  }
  .header {
    padding-top: 99.6px;
  }
  .header .title {
    font-size: 57.37px;
  }
  .header .para {
    font-size: 17.75px;
    margin-top: 3.77px;
    margin-bottom: 8.67px;
  }
  .button {
    font-size: 12.84px;
    padding: 12px 34px;
  }
  .caterItem {
    width: calc(100% / 4 - 91px);
  }
  .caterItem:last-child {
    width: calc(100% / 4 - 50px);
  }
  .caterTitle::before {
    top: -78px;
  }
  .caterItemTitle {
    font-size: 21px;
    margin: 12px 0;
  }
  .caterItemPara {
    font-size: 12px;
  }
  .craft {
    margin-top: 140px;
  }
  .crayfishTitle::before {
    top: -40px;
  }
  .crayItem {
    width: 15%;
  }
  .crayGrams {
    font-size: 12px;
  }
  .craySize,
  .crayWeight {
    font-size: 18px;
  }
  .recipeList {
    margin-top: 45px;
  }
  .recipeItem .title {
    font-size: 20px;
    /* line-height: 25px; */
  }
  .label {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .input {
    font-size: 14px;
    padding: 8px 12px;
  }
  .input::placeholder {
    font-size: 14px;
  }
  .discount {
    margin-top: 140px;
    margin-bottom: 120px;
  }
  .discountBanner {
    height: auto;
    padding: 40px 140px 80px 140px;
  }
  .discount .para {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1280px) {
  .recipeItem .title {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .header .title {
    font-size: 46px;
    margin-bottom: 0;
  }
  .header {
    padding-top: 60px;
  }
  .title {
    font-size: 36px;
  }
  .caterTitle::before {
    width: 50%;
    top: -55px;
    background-size: contain;
    background-repeat: no-repeat;
    left: calc(50% - 39px);
  }
  .caterItem {
    width: calc(100% / 4 - 40px);
    padding: 10px;
  }
  .caterItem:last-child {
    width: calc(100% / 4 + 10px);
  }
  .caterItem img {
    width: 50px;
  }
  .title {
    font-size: 30px;
  }
  .craftImgs {
    width: 75%;
    text-align: right;
  }
  .craft .para {
    margin-top: 5px;
    margin-bottom: 25px;
  }
  .craftText .button {
    padding: 14px 18px;
  }
  .craySize,
  .crayWeight {
    font-size: 14px;
    line-height: 22px;
  }
  .crayList {
    margin-bottom: 120px;
  }
  .cooking {
    padding: 20px 90px;
  }
  .calculation {
    margin-top: 120px;
  }
  .recipes {
    margin-top: 140px;
  }
  .para {
    font-size: 14px;
  }
  .recipeList {
    margin-top: 25px;
  }
  .recipes .para {
    margin: 15px 0;
    padding-right: 0;
    line-height: 18px;
    text-align: justify;
  }
  .recipeItem .title {
    font-size: 16px;
    line-height: 20px;
    top: calc(50% - 20px);
  }
  .recipeItem .recipe3 {
    top: calc(50% - 40px);
  }
  .recipeRight {
    width: 58%;
  }
  .paramItem {
    width: calc(100% / 7 - 12px);
  }
  .userName,
  .userPhone {
    width: 220px;
  }
  .discountBanner {
    height: auto;
    padding: 20px 60px 60px 60px;
  }
  .discount {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .footer {
    padding-bottom: 60px;
  }
  .button {
    padding: 8px 30px;
  }
}
@media (max-width: 768px) {
  .cater {
    padding-top: 80px;
  }
  .caterTitle::before {
    top: -44px;
    left: calc(50% - 33px);
  }
  .caterList {
    flex-wrap: wrap;
  }
  .caterItem {
    width: calc(100% / 2 - 100px);
    padding: 15px 3px;
    margin-bottom: 15px;
  }
  .caterItem:last-child {
    width: calc(100% / 2 - 100px);
  }
  .craft {
    flex-direction: column;
    margin-top: 90px;
  }
  .crayList {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .crayItem {
    width: calc(33% - 15px);
    margin-bottom: 20px;
  }
  .cooking {
    width: 90%;
  }
  .recipes .container {
    flex-direction: column;
  }
  .recipeLeft {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .recipeRight {
    width: 90%;
    margin: 0 auto;
  }
  .recipeItem .title {
    font-size: 16px;
    line-height: 20px;
    top: calc(50% - 20px);
    padding: 0 5px;
  }
  .recipeItem .recipe3 {
    top: calc(50% - 30px);
  }
  .params {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
  }
  .paramItem {
    width: calc(100% / 4 - 20px);
    margin-bottom: 15px;
  }
  .discountBanner {
    width: 90%;
    height: auto;
    padding: 20px;
  }
  .discount .para {
    margin: 10px 0;
    overflow: ;
  }
  .craftText {
    width: 90%;
  }
  .craftImgs {
    justify-content: flex-start;
    width: 90%;
    margin-top: 20px;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .header .title {
    font-size: 30px;
    margin-bottom: 0;
  }
  .header .para {
    font-size: 14px;
  }
  .caterItem {
    width: 70%;
  }
  .caterItem:last-child {
    width: 70%;
  }
  .crayList {
    margin-bottom: 100px;
  }
  .crayItem {
    width: calc(50% - 15px);
    margin-bottom: 20px;
  }
  .recipes {
    margin-top: 100px;
  }
  .cooking {
    padding: 20px;
  }
  .recipeLeft {
    width: 70%;
  }
  .recipeList {
    flex-wrap: wrap;
  }
  .recipeItem {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
  .calculation {
    margin-top: 90px;
  }
  .paramItem {
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
  }
  .discountBanner {
    background-size: contain;
    width: 100%;
    height: auto;
    padding: 5px;
  }
  .discountBanner .title {
    font-size: 26px;
    margin-bottom: 0;
  }
  .discount .para {
    margin: 5px 0;
    line-height: 16px;
    font-size: 12px;
  }
  .craft .para {
    text-align: justify;
  }
  .crayGrams {
    padding: 5px;
  }
  .discountBanner {
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    width: 100%;
    height: auto;
    padding: 10px;
  }
}
@media (max-width: 320px) {
  .title {
    font-size: 26px;
  }
  .recipeItem {
    width: calc(70% - 15px);
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .caterItem:last-child {
    width: 80%;
  }
}
